<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div style="font-size: 1.5em;" class="nav-bar-items">StoriGram</div>
        </div>
        <div id="nav-bar-right">
            <div *ngIf="!loggedIn()" class="nav-bar-items"><a mat-raised-button 
                (click)="onLoginClick()">Login</a></div>
            <div *ngIf="loggedIn()" class="nav-bar-items"><a mat-raised-button 
                (click)="onLogoutClick()">LogOut</a></div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>