<div id="authenticator">
    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>{{head}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="buttonClick=='Login'">
            <input placeholder="Email">
            <input placeholder="Password" type="password">
            <button mat-flat-button color="warn">Login</button>
        </div>
        <div *ngIf="buttonClick=='CreateAccount'">
            <input placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Comfirm Password">
            <button mat-flat-button color="warn">Create</button>
        </div>
        <div *ngIf="buttonClick=='ForgetPassword'">
            <input placeholder="Email">
            <button mat-flat-button color="warn">Reset</button>
        </div>
        <mat-card-actions align="end">
            <button (click)="onForgetPasswordClick()" mat-flat-button>Forgot Password</button>
            <button (click)="OnCreateAccountClick()" mat-flat-button>Create an Account</button>
            <button (click)="onLoginClick()" mat-flat-button>Login</button>
        </mat-card-actions>
    </mat-card>
</div>